html{
  width: 100%;
  height: 100%;
}
body{
background: fixed center no-repeat black;
transition: background 2s ease-in-out;
font-family: 'Open Sans', sans-serif;
font-weight: 200;
margin-top: 5em;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

*:visited{
color: black;
}

h2, h3{
color: #10b3b1;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 30;
    background: rgba(31, 31, 31, 0.75);
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -moz-transition: -moz-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
}
/*=======Nav bar======*/
#nav-toggle {
    display: none;
}
#toggle {
    position: fixed;
    z-index: 100;
    top: 1%;
    right:0%;
    display: none;
    color: #10b3b1;
    font-size: 3em;
}
nav{
 background:rgba(255, 255, 255, 0.8);
    width:250px;
      position:fixed;
      left:5em;
      min-height:60%;
      z-index:30;
      overflow:hidden;
        text-align: left;   
}

nav img{
width: 95%;
margin: 5px;
}

#cssmenu {
    max-width: 50%;
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu li {
  margin: 0;
  padding-bottom: 5px;
  list-style: none;
}
#cssmenu a {
    color: black;
  border-bottom: 2px solid #9f9f9f;
  display: block;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu a:hover {
  background: url("img/hover.png") left center no-repeat;
  padding-bottom: 8px;    
  border-bottom: 2px solid #10b3b1;
}
#cssmenu .active{
 border-color:  #10b3b1 !important;
}


#social, #social a {
    text-align: center;
    color: #7e7e7e;
    padding: 8px;
}

#social a:hover{
color: #10b3b1;
}


/*============main content============*/

#container {
    background:rgba(255, 255, 255, 0.8);
    margin-left: 21em;
    max-width: 50vw;
    left: 21em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
margin: 30px;
}

article img{
max-width: 100%;
     
}

#about-img{
  float:right; 
  padding: 0 0 10px 10px;
  height: 60vh;
}

.BlogPost {
width: 35%;
margin: 20px;
min-width: 20em;
-webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
}

.BlogPost:hover{
-webkit-filter: sepia(0.8);
}

.BlogPost a{
text-decoration: none;
}

.BlogPost img{
  padding: none;
}


#contact-n p{
line-height: 170%;
}
#contact-p p{
display: inline-block;
text-align: center;
color: #fff;
background-color: #10b3b1;
padding: 50px;
width: 85%;
}
#contact-n a{
text-decoration: none;
color: #000;
-webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
}
#contact-n a:hover{
text-decoration: underline;
color: #10b3b1;
}
#contact-social{
    text-align: center;
    display: inline;
    color: #7e7e7e;
    font-size: 30px;
    padding: 3px;
    float: right;
}
#contact-social a{
    border-radius: 50%;
    text-align: center;
    display: inline;
    color: #7e7e7e;
    padding: 3px;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    float: right;
    background-color: #fff;
}
#contact-social a:hover{
color: #10b3b1;
}

/*=======Email form=======*/
#form-div{
  width: 80%;
}
.form-input {
  color: #10b3b1;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 13px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(214, 41, 41, 0);
}
.form-input:focus {
  background: #fff;
  border: 3px solid #10b3b1;
  color: #10b3b1;
  outline: none;
  padding: 13px 13px 13px 13px;
}
.focused {
  color: #10b3b1;
  border: #10b3b1 solid 3px;
}
textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: white;
}
#button-blue {
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #10b3b1;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
#button-blue:hover, 
#button-blue:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #10b3b1;
}
.submit:hover {
  color: #10b3b1;
}
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}
.submit:hover .ease {
  width: 100%;
  background-color: white;
}


/*=======Owl image carousel=======*/
#owl{
  max-width: 47vw;
}
#owl .item img{
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 70vh;
    margin-left: auto;
    margin-right: auto;

}
.owl-theme .owl-controls .owl-buttons div{
    border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #10b3b1;
  color: white;
  display: inline-block;
  zoom: 1;
  padding: 3px 10px;
  margin: 4px;
  font-family:'Open Sans', FontAwesome;
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #fff;
  color: #10b3b1;
}